<table class="display span9" cellpadding="0" cellspacing="0" border="0" id="all_properties">
    <thead>
    <tr>
        <th>Relation</th>
        <th>Flat</th>
        <th>Building</th>
        <th>Locality</th>
        <th>Config</th>
    </tr>
    </thead>
    <tbody style="border-bottom: solid 1px #daa520; margin-bottom: 10px;">
    <% @contact.flat_contacts.each do |flat_contact| %>
    <tr>
        <td style="background: transparent;"><%= flat_contact.contact_type %></td>
        <td><%#= flat_contact.flat.name %></td>
        <td><%#= flat_contact.flat.building.name %></td>
        <td><%#= Locality.find(flat_contact.flat.building.primary_locality_id).name %></td>
        <td><%#= flat_contact.flat.bhk_config.name %></td>
    </tr>
    <% end %>
    </tbody>
</table>