<table class="display" cellpadding="0" cellspacing="0" border="0" id="all_flats">
    <thead>
    <tr style="height:15px;">
        <th style="text-align: left">Name</th>
        <th style="text-align: left">No</th>
        <th style="text-align: left">Cfg</th>
        <th style="text-align: left">Fst</th>
        <th style="text-align: left">Rent</th>
        <th style="text-align: left">Src</th>
        <th style="text-align: left">Av</th>
    </tr>
    </thead>
    <tbody style="border-bottom: solid 1px #daa520; margin-bottom: 10px;">
    <% @flats.each do |spflat| %>
    <% unless spflat.name.blank? %>
    <tr>
        <td style="background: transparent;"><%= link_to spflat.name, "/#{@building.id}/flat/#{spflat.id}/edit" %></td>
        <td style="background: transparent;">4A/12</td>
        <td style="background: transparent;"><%= spflat.bhk_config.name %></td>
        <td style="background: transparent;">Furn</td>
        <td style="background: transparent;">42000</td>
        <td style="background: transparent;">Partner</td>
        <td style="background: transparent;">Yes</td>
    </tr>
    <%- end -%>
    <%- end -%>
    </tbody>
</table>