<%= render "flats/top_menu" %>

<div class="content" style="margin-top: 10px;">
  <div class="row-fluid">

    <h2>Properties</h2>
  <%= render "flats/property_index" %>


    <h2>Deals</h2>
<%= render "deals/deal_index" %>
      </div>
      </div>