

<h2>Add Photos
  <br>
  <small> You can choose multiple photos to upload
  </small>
</h2>

<%=form_for @photo do |f|  %>
    <%= f.hidden_field :flat_id ,:value=>@flat.id %>
    <%= f.file_field :image,:multiple=>true %>
    <%= f.submit "Upload Photos",:class=>"btn btn-inverse", :style=>"margin-top:-8px;" %>

  <% end %>


