#content {
    margin: 15px auto;
    text-align: center;
    width: 600px;
    position: relative;
    height: 100%;
}

#form_wrapper {
    -moz-box-shadow: 0px 0px 3px #aaa;
    -webkit-box-shadow: 0px 0px 3px #aaa;
    box-shadow: 0px 0px 3px #aaa;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid #fceabb;

    background: white;
    width: 960px;
    overflow: hidden;
    margin: auto;
    margin-top:10px;
}

#steps {
    width: 900px;
    height: 470px;
    overflow: hidden;
}

.step {
    float: left;
    width: 960px;
    /*height:320px;*/
}

#navigation {
    height: 45px;
    width: 940px;
    margin: auto;

    background: rgb(125,126,125); /* Old browsers */
    background: -moz-linear-gradient(top,  rgb(125,126,125) 0%, rgb(14,14,14) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(125,126,125)), color-stop(100%,rgb(14,14,14))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgb(125,126,125) 0%,rgb(14,14,14) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgb(125,126,125) 0%,rgb(14,14,14) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgb(125,126,125) 0%,rgb(14,14,14) 100%); /* IE10+ */
    background: linear-gradient(top,  rgb(125,126,125) 0%,rgb(14,14,14) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */

    border-top: 1px solid #6a696b;
    -moz-border-radius: 0px 0px 10px 10px;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#navigation ul {
    list-style: none;
    float: left;
    margin-left: 22px;
}

#navigation ul li {
    float: left;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    position: relative;
    margin: 0px 2px;
}

#navigation ul li a {
    display: block;
    height: 45px;

    background: rgb(243, 226, 199); /* Old browsers */
    background: -moz-linear-gradient(top, rgb(243, 226, 199) 0%, rgb(193, 158, 103) 50%, rgb(182, 141, 76) 51%, rgb(233, 212, 179) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(243, 226, 199)), color-stop(50%, rgb(193, 158, 103)), color-stop(51%, rgb(182, 141, 76)), color-stop(100%, rgb(233, 212, 179))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgb(243, 226, 199) 0%, rgb(193, 158, 103) 50%, rgb(182, 141, 76) 51%, rgb(233, 212, 179) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgb(243, 226, 199) 0%, rgb(193, 158, 103) 50%, rgb(182, 141, 76) 51%, rgb(233, 212, 179) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgb(243, 226, 199) 0%, rgb(193, 158, 103) 50%, rgb(182, 141, 76) 51%, rgb(233, 212, 179) 100%); /* IE10+ */
    background: linear-gradient(top, rgb(243, 226, 199) 0%, rgb(193, 158, 103) 50%, rgb(182, 141, 76) 51%, rgb(233, 212, 179) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#f3e2c7', endColorstr = '#e9d4b3', GradientType = 0); /* IE6-9 */

    color: white;
    outline: none;
    font-weight: bold;
    text-decoration: none;
    line-height: 45px;
    padding: 0px 20px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;

}

#navigation ul li a:hover,
#navigation ul li.selected a {
    background: #d8d8d8;
    color: #666;
    text-shadow: 1px 1px 1px #fff;
}

span.checked {
    background: transparent url(/assets/checked.png) no-repeat top left;
    position: absolute;
    top: 0px;
    left: 1px;
    width: 20px;
    height: 20px;
}

span.error {
    background: transparent url(/assets/error.png) no-repeat top left;
    position: absolute;
    top: 0px;
    left: 1px;
    width: 20px;
    height: 20px;
}

#steps form fieldset {
    border: none;
    padding-bottom: 20px;
}

#steps form legend {
    text-align: left;

    background: rgb(206, 220, 231); /* Old browsers */
    background: -moz-linear-gradient(top, rgb(206, 220, 231) 0%, rgb(89, 106, 114) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(206, 220, 231)), color-stop(100%, rgb(89, 106, 114))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgb(206, 220, 231) 0%, rgb(89, 106, 114) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgb(206, 220, 231) 0%, rgb(89, 106, 114) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgb(206, 220, 231) 0%, rgb(89, 106, 114) 100%); /* IE10+ */
    background: linear-gradient(top, rgb(206, 220, 231) 0%, rgb(89, 106, 114) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#cedce7', endColorstr = '#596a72', GradientType = 0); /* IE6-9 */

    color: #fafad2;
    font-size: 24px;
    text-shadow: 1px 1px 1px #fff;
    font-weight: bold;
    float: left;
    width: 840px;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #d9d9d9;
}

#steps form p {
    float: left;
    clear: both;
    margin: 5px 0px;
    background-color: #f4f4f4;
    border: 1px solid #fff;
    width: 840px;
    padding: 10px;
    margin-left: 100px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 3px #aaa;
    -webkit-box-shadow: 0px 0px 3px #aaa;
    box-shadow: 0px 0px 3px #aaa;
}

#steps form p label {
    width: 160px;
    float: left;
    text-align: right;
    margin-right: 15px;
    line-height: 26px;
    color: #000;
    text-shadow: 1px 1px 1px #fff;
    font-weight: bolder;
}


